<section class="past-training">
<h3>Favorites</h3>
<mat-card> 
  <mat-card-title>The Krusty Krab</mat-card-title> <!--Would have something more like {{googleapi.restaurantname}} -->
  <mat-card-content>
    <h4>Description </h4>
    <p>We're the knights of the round table, our toast is one of fables. We braid our hair, enjoy a good snar and dance like we're Clark Gable... <strong><i><a>Click to read more</a></i></strong></p> <!--Would have something more like {{googleapi.restaurantdescription}} -->
    <h4>Reviews </h4>
    <p>The Krusty Krab makes a mean soup, though their drinks can be a little salty. <strong><i><a>Click to read more</a></i></strong></p> <!--Would have something more like {{googleapi.restaurantreviews}} -->
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-button [disabled]="f.invalid">Favorite</button>
    <button type="submit" mat-button [disabled]="f.invalid">Un-mark as Visited</button>
  </mat-card-actions>
</mat-card>
</section>


