<section class="new-training">
  <!-- template driven approach to get the selected exercise to show up -->
  <h1 fxLayoutAlign="center">Restaurant History</h1>
  <h3>Previously Visited</h3>
    <mat-card> 
      <mat-card-title>Sagios</mat-card-title> <!--Would have something more like {{googleapi.restaurantname}} -->
      <mat-card-content>
        <h4>Description </h4>
        <p>This Vietnamese restaurant prides itself on quality food and quality service... <strong><i><a>Click to read more</a></i></strong></p> <!--Would have something more like {{googleapi.restaurantdescription}} -->
        <h4>Reviews </h4>
        <p>Their pizza and burgers are delicious... Despite being a Vienamese restaurant... <strong><i><a>Click to read more</a></i></strong></p> <!--Would have something more like {{googleapi.restaurantreviews}} -->
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button [disabled]="f.invalid">Favorite</button>
        <button type="submit" mat-button [disabled]="f.invalid">Un-mark as Visited</button>
      </mat-card-actions>
    </mat-card>
  </section>
    <app-welcome></app-welcome>
